.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FB4C4C;

    &.online {
        background-color: #1ABE3D;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px rgba(199, 199, 199, 1);

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.avatar {
    border-radius: 8px;
}

.name {
    font-size: 18px;
}